#[Unit]
#Description=Simple X Hotkey Daemon
#Documentation=man:sxhkd(1)
#BindsTo=display-manager.service
#After=display-manager.service
    
#[Service]
#ExecStart=/usr/bin/sxhkd
#ExecReload=/usr/bin/kill -SIGUSR1 $MAINPID
    
#[Install]
#WantedBy=graphical.target

[Unit]
Description=Simple X Hotkey Daemon
Documentation=man:sxhkd(1)
After=graphical.target

[Service]
ExecStart=/usr/bin/sxhkd
ExecReload=/usr/bin/kill -SIGUSR1 $MAINPID
Environment=DISPLAY=:1
#Environment=XAUTHORITY=%h/.Xauthority
Environment=XAUTHORITY=/home/r11y5/.Xauthority
Terminal=false

[Install]
WantedBy=default.target
